/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--weight-thin);
}

.page-wrapper {
    /* delete */
    height: 600px;
    background-size: 430px;
    /* preventing child top margin from shifting parent object  */
    overflow: auto;  
}

.app-wrapper {
    margin: 30px;
}

.header a {
    width: 30px;
}

.header a::after {
    content: "";
    display: block;
    padding-top: 100%;
}