:root {
    /* primary */
    --primary-bright-blue: hsl(220, 98%, 61%);
    --primary-check-background: linear-gradient(65deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
    /* neutral light*/
    --l-light-gray: hsl(0, 0%, 98%);
    --l-very-light-grayish-blue: hsl(236, 33%, 92%);
    --l-light-grayish-blue: hsl(233, 11%, 84%);
    --l-dark-grayish-blue: hsl(236, 9%, 61%);
    --l-very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* neutral dark */
    --d-very-dark-blue: hsl(235, 21%, 11%);
    --d-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --d-light-grayish-blue: hsl(234, 39%, 85%);
    --d-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --d-dark-grayish-blue: hsl(234, 11%, 52%);
    --d-very-dark-grayish-blue: hsl(233, 14%, 35%);
    --d-very-very-dark-grayish-blue: hsl(237, 14%, 26%);

    --font-size: 18px;

    --font-family: 'Josefin Sans', sans-serif;
    --weight-thin: 400;
    --weight-bold: 700;

    /* check border thickness */
    --check-border: 1px;
    --check-border-neg: -1px;

    --icon-width-height: 15px;
    --icon-width-height-input: 25px;
}